.icon-size{
	width:45px;
}

.carousel{
	height:600px;
	background-size:cover;
}

.grow{
	transition: all .2s ease-in-out;
	overflow:hidden;
}
.grow img{
	height:200px;
	transition: all .5s ease-in-out;
	
}

.grow:hover {
transform: scale(1.07); 
cursor: pointer;
	
}

.grow:hover img{
	transform: scale(1.3); 
	cursor: pointer;
	object-fit: cover;
	width:100%;
	
		
	}

.profile-pic{
	height:80px;
	width:80px;
	object-fit: cover;
}

.card-photo{
	object-fit: cover;

}

.img-parent{
	height:200px;
}