.icon-size{
	width:45px;
}

.carousel{
	height:600px;
	background-size:cover;
}

.grow{
	transition: all .2s ease-in-out;
}

.grow:hover {
	 transform: scale(1.07); 
	 cursor: pointer;
	}

.profile-pic{
	height:100px;
	width:100px;
	object-fit: cover;
}